<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>Statix Demo</title>
    {{> stylesheets}}
</head>
<body>
    this is the template
    {{#block "main"}}{{/block}}
    {{> scripts}}
</body>
</html>
